.blog-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .loading-more {
        padding-top: 0;
    }
}

.blog-sidebar {
    .search-form {
        margin-bottom: 55px;

        h4 {
            color: $color-primary;
            font-weight: 700;
            margin-bottom: 12px;
        }

        form {
            position: relative;

            input {
                height: 46px;
                width: 100%;
                border: 2px solid #ececec;
                padding-left: 20px;
                font-size: 18px;
                color: $color-text;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                color: $color-white;
                background: $color-primary;
                border: 1px solid #252525;
                height: 46px;
                padding: 0 15px;
                cursor: pointer;
            }
        }
    }

    .blog-catagory {
        margin-bottom: 41px;

        h4 {
            color: $color-primary;
            font-weight: 700;
            margin-bottom: 14px;
        }

        ul li {
            list-style: none;

            a {
                font-size: 16px;
                color: $color-link;
                line-height: 39px;
            }
        }
    }

    .recent-post {
        margin-bottom: 55px;

        h4 {
            color: $color-primary;
            font-weight: 700;
            margin-bottom: 28px;
        }

        .recent-blog .rb-item {
            overflow: hidden;
            margin-bottom: 30px;
            display: block;

            .rb-pic {
                float: left;

                img {
                    height: 80px;
                    width: 80px;
                }
            }

            .rb-text {
                display: table;
                padding-left: 16px;

                h6 {
                    color: $color-primary;
                    line-height: 24px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 0;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-yellow;
                    letter-spacing: 2px;
                    line-height: 20px;

                    span {
                        color: $color-text;
                        font-weight: 400;
                        text-transform: capitalize;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }

    .blog-tags {
        h4 {
            color: $color-primary;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .tag-item a {
            display: inline-block;
            font-size: 16px;
            color: $color-link;
            padding: 5px 15px;
            border: 1px solid #ebebeb;
            margin-right: 5px;
            margin-bottom: 9px;
            border-radius: 2px;
        }
    }
}

.blog-item {
    margin-bottom: 42px;

    .bi-pic img {
        min-width: 100%;
    }

    .bi-text {
        padding-top: 24px;

        h4 {
            color: $color-primary;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-yellow;
            letter-spacing: 2px;
            line-height: 20px;

            span {
                color: $color-text;
                font-weight: 400;
                text-transform: capitalize;
                letter-spacing: 0;
            }
        }
    }
}
