.page-item.active .page-link {
    background-color: $color-yellow !important;
    border-color: $color-yellow !important;
}
.active .page-link {
    color: $color-white !important;
}
.page-link {
    color: $color-yellow !important;
}
.MuiPagination-ul {
    justify-content: flex-end;
}
