$color-primary: #252525;
$color-text: #b2b2b2;
$color-yellow: #e7ab3c;
$color-link: #636363;
$color-white: #ffffff;
$color-black: #000000;
$color-icon: #4c4c4c;
$color-link-active: #171717;


$extra-small-width: 479;
$small-width: 768px;
$medium-width: 992px;
$extra-medium-width: 992;
$large-width: 1200px;
