.ht-right .lan-selector {
    max-width: 142px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    .ddcommon {
        max-width: 142px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none;
        cursor: pointer;
        padding: 0 20px;

        .ddTitle {
            .ddTitleText {
                img {
                    padding-right: 5px;
                }

                span {
                    font-size: 14px;
                    color: $color-primary;
                }
            }

            .ddArrow:before {
                content: "3";
                font-family: "ElegantIcons";
                font-size: 14px;
                color: $color-link;
                float: right;
                position: relative;
                right: 0;
                line-height: 26px;
            }
        }

        .ddChild {
            background: $color-white;
            max-width: 142px;
            width: 100%;
            position: relative;
            left: 0;

            ul {
                width: 100%;
                max-width: 142px;

                li {
                    line-height: 23px;
                    padding: 0px 10px;
                    list-style: none;

                    img {
                        padding-right: 10px;
                    }

                    span {
                        font-size: 13px;
                        color: $color-black;
                        letter-spacing: 0.325px;
                    }
                }
            }
        }
    }
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e5e5e5;

    .ht-left {
        float: left;

        .mail-service {
            font-size: 16px;
            color: $color-primary;
            float: left;
            border-right: 1px solid #e5e5e5;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 20px;

            i {
                margin-right: 5px;
            }
        }

        .phone-service {
            float: right;
            font-size: 14px;
            color: $color-primary;
            line-height: 27px;
            padding-top: 15px;
            padding-bottom: 12px;
            padding-left: 20px;

            i {
                margin-right: 5px;
            }
        }
    }

    .ht-right {
        float: right;

        .login-panel {
            float: right;
            font-size: 14px;
            color: $color-primary;
            display: inline-block;
            padding-left: 20px;
            border-left: 1px solid #e5e5e5;
            padding-top: 18px;
            padding-bottom: 15px;

            i {
                margin-right: 8px;
            }
        }

        .lan-selector {
            float: right;
            margin-top: 15px;
            margin-bottom: 13px;
        }

        .top-social {
            float: right;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-right: 1px solid #e5e5e5;

            a {
                color: $color-primary;
                font-size: 14px;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
}

.inner-header {
    padding: 39px 0;

    .logo {
        padding: 12px 0;

        a {
            display: inline-block;
        }
    }

    .advanced-search {
        height: 50px;
        border: 1px solid #ebebeb;

        .category-btn {
            max-width: 30%;
            float: left;
            background: transparent;
            border: none;
            padding-left: 23px;
            padding-top: 11px;
            padding-bottom: 13px;
            padding-right: 60px;
            font-size: 16px;
            color: $color-primary;
            position: relative;

            &:before {
                position: absolute;
                right: 0;
                top: 14px;
                width: 1px;
                height: 20px;
                background: #e5e5e5;
                content: "";
            }

            &:after {
                position: absolute;
                right: 11px;
                top: 10px;
                content: "3";
                font-family: "ElegantIcons";
                font-size: 16px;
                color: $color-text;
            }
        }

        .input-group {
            max-width: 70%;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                border: none;
                font-size: 16px;
                color: #d1d1d1;
                padding-left: 20px;
            }

            button {
                font-size: 16px;
                color: $color-white;
                position: absolute;
                right: -3px;
                top: -1px;
                border: 1px solid #e7ab3c;
                background: $color-yellow;
                padding: 12px 16px 12px;
                cursor: pointer;
            }
        }
    }

    .nav-right {
        padding: 10px 0;

        li {
            list-style: none;
            display: inline-block;
            font-size: 20px;
            margin-left: 15px;

            &.heart-icon a {
                color: $color-primary;
                position: relative;
                display: inline-block;

                span {
                    position: absolute;
                    right: -8px;
                    top: -1px;
                    height: 15px;
                    width: 15px;
                    background: $color-yellow;
                    color: $color-white;
                    border-radius: 50%;
                    font-size: 11px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 15px;
                }
            }

            &.cart-icon {
                position: relative;

                &:hover .cart-hover {
                    opacity: 1;
                    visibility: visible;
                    top: 60px;
                }

                a {
                    color: $color-primary;
                    position: relative;
                    display: inline-block;

                    span {
                        position: absolute;
                        right: -8px;
                        top: -1px;
                        height: 15px;
                        width: 15px;
                        background: $color-yellow;
                        color: $color-white;
                        border-radius: 50%;
                        font-size: 11px;
                        font-weight: 700;
                        text-align: center;
                        line-height: 15px;
                    }
                }

                .cart-hover {
                    position: absolute;
                    right: -70px;
                    top: 100px;
                    width: 350px;
                    background: $color-white;
                    z-index: 99;
                    text-align: left;
                    padding: 30px;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
                    box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;

                    .select-items table {
                        width: 100%;

                        tr td {
                            padding-bottom: 20px;

                            &.si-pic img {
                                border: 1px solid #ebebeb;
                            }

                            &.si-text {
                                padding-left: 18px;

                                .product-selected {
                                    p {
                                        color: $color-yellow;
                                        line-height: 30px;
                                        margin-bottom: 7px;
                                    }

                                    h6 {
                                        color: #232530;
                                    }
                                }
                            }

                            &.si-close {
                                color: $color-primary;
                                font-size: 16px;
                                cursor: pointer;
                            }
                        }
                    }

                    .select-total {
                        overflow: hidden;
                        border-top: 1px solid #e5e5e5;
                        padding-top: 26px;
                        margin-bottom: 30px;

                        span {
                            font-size: 14px;
                            color: $color-yellow;
                            text-transform: uppercase;
                            letter-spacing: 0.5px;
                            float: left;
                        }

                        h5 {
                            color: $color-yellow;
                            float: right;
                        }
                    }

                    .select-button {
                        .view-card {
                            font-size: 12px;
                            letter-spacing: 2px;
                            display: block;
                            text-align: center;
                            background: #191919;
                            color: $color-white;
                            padding: 15px 30px 12px;
                            margin-bottom: 10px;
                        }

                        .checkout-btn {
                            font-size: 12px;
                            letter-spacing: 2px;
                            display: block;
                            text-align: center;
                            color: $color-white;
                            padding: 15px 30px 12px;
                        }
                    }
                }
            }

            &.cart-price {
                font-size: 18px;
                font-weight: 700;
                color: $color-primary;
            }
        }
    }
}

.nav-item {
    background: $color-primary;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav-depart {
        float: left;

        .depart-btn {
            background: #3b3b3b;
            color: $color-white;
            padding: 14px 84px 14px 18px;
            cursor: pointer;
            position: relative;

            &:hover .depart-hover {
                top: 52px;
                opacity: 1;
                visibility: visible;
                z-index: 99;
            }

            &:before {
                position: absolute;
                color: $color-white;
                right: 20px;
                top: 13px;
                content: "ï„‡";
                font-family: FontAwesome;
                font-size: 18px;
            }

            i {
                color: $color-white;
                font-size: 16px;
            }

            span {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 16px;
            }

            .depart-hover {
                position: absolute;
                width: 100%;
                background: $color-white;
                left: 0;
                top: 62px;
                opacity: 0;
                visibility: hidden;
                padding-bottom: 29px;
                -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
                box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                li {
                    list-style: none;

                    &.active a {
                        color: $color-yellow;
                    }

                    a {
                        display: block;
                        font-size: 16px;
                        color: $color-black;
                        padding-left: 40px;
                        padding-top: 16px;
                        padding-right: 30px;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;

                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
        }
    }

    .nav-menu {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;

        li {
            list-style: none;
            display: inline-block;
            margin-left: -5px;
            position: relative;

            &.active a {
                background: $color-yellow;
            }

            a {
                font-size: 14px;
                font-weight: 700;
                display: block;
                color: $color-white;
                border-right: 2px solid #3b3b3b;
                text-transform: uppercase;
                padding: 16px 42px 15px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            &:hover {
                > a {
                    background: $color-yellow;
                }

                .dropdown {
                    opacity: 1;
                    visibility: visible;
                    top: 52px;
                }
            }

            .dropdown {
                position: absolute;
                right: 0;
                top: 82px;
                width: 200px;
                z-index: 99;
                background: $color-primary;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                li {
                    display: block;
                    margin-left: 0;

                    &:hover > a {
                        background: transparent;
                        color: $color-yellow;
                    }

                    a {
                        border-right: 0;
                        padding: 13px 20px 12px 30px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.slicknav_menu {
    display: none;
}

